/* frontend/src/components/styles/EventFilter.css */
.event-filter {
    margin-bottom: 20px;
  }
  
  .event-filter input {
    width: 97%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  @media (max-width: 600px) {
    .event-filter input {
      padding: 8px;
    }
  }
  